{{define "yield"}}
<form>
<div class="form-group">
  <label for="entry">Blog Entry</label>
  <input type="text" name="entry" class="form-control" 
    id="entry" placeholder="Entry">
</div>
  <button type="submit" class="btn btn-default">
    Submit
  </button>
</form>
{{end}}